


<div class="container mt-1">

  <h1>{{ mode | titlecase }} artículo </h1>
  <form *ngIf="item" #itemForm="ngForm" name="itemForm" role="form" novalidate autocomplete="off">
    <div class="input-group mb-3">
      <span class="input-group-text label">Id</span>
      <input disabled type="number" [(ngModel)]="item.id" name="id" id="id" #id="ngModel" class="form-control">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text label">Categoría</span>
      <input type="number" [(ngModel)]="item.categoryId" name="categoryId" id="categoryId" #categoryId="ngModel" class="form-control" required>
      <span *ngIf="categoryId.dirty && categoryId.errors" class="input-group-text border-danger bg-danger text-light">
        <small *ngIf="categoryId.errors['required']" class="">Este campo es requerido</small>
      </span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text label">Nombre</span>
      <input type="text" [(ngModel)]="item.name" name="name" id="name" #name="ngModel" class="form-control" required minlength="3" maxlength="100">
      <span *ngIf="name.dirty && name.errors" class="input-group-text border-danger bg-danger text-light">
        <small *ngIf="name.errors['required']" class="">Este campo es requerido</small>
        <small *ngIf="name.errors['minlength']" class="">Este campo debe tener una longitud mínima de 3 caracteres</small>
      </span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text label">Precio</span>
      <input type="number" [(ngModel)]="item.price" name="price" id="price" #price="ngModel" class="form-control" required min="1">
      <span class="input-group-text">€</span>
      <span *ngIf="price.dirty && price.errors" class="input-group-text border-danger bg-danger text-light">
        <small *ngIf="price.errors['required']" class="">Este campo es requerido</small>
        <small *ngIf="price.errors['min']" class="">El valor debe ser positivo</small>
      </span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text label">Descripción</span>
      <input type="text" [(ngModel)]="item.description" name="description" id="description" #description="ngModel" class="form-control" maxlength="2000">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text label">Imagen</span>
      <input type="text" [(ngModel)]="item.image" name="image" id="image" #image="ngModel" class="form-control">
    </div>

    <div class="buttonsForm">
      <button class="btn btn-primary btn-dark" (click)="saveItem()" [disabled]="itemForm.invalid">Guardar</button>
    </div>
  </form>
</div>
